---
/**
 * * These are alternating side cards with titles, text, and images
 * Recommend using 2 or 3 cards in a row
 */

import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";

interface Props {
    label: string; // colored text first
    title: string; // larger title second
    details: string; // text details third
    image: ImageMetadata; // an imported image
    video: string;
    imageSide: "left" | "right";
    rest?: any; // catch-all for any additional parameters, such as "aria-label"
}

const { image, label, title, details, imageSide, video, ...rest } =
    Astro.props as Props;
---

<div
    class="mx-auto grid gap-8 rounded-2xl md:grid-cols-2 md:gap-12 lg:gap-20"
    {...rest}
>
    <!-- text -->
    <div
        class=`${imageSide === "left" ? "md:order-last": ""} col-span-1`
        data-aos="fade-up"
        data-aos-trigger=""
    >
        <div class="flex">
            <p class="colored-title">{label}</p>
        </div>
        <h2 class="h2 mt-6">{title}</h2>
        <p class="mt-4 opacity-90 dark:opacity-80">{details}</p>
    </div>

    <!-- image -->

    <div class="container">
        <div class="mx-auto mt-6 max-w-4xl">
            <!-- Button to play video -->
            <button
                class=`group relative h-full rounded-2xl bg-gradient-to-bl from-primary-400 via-base-300/70 to-primary-400
          dark:from-primary-500 dark:via-base-300/50 dark:to-primary-500
          after:absolute after:rounded-[calc(1rem-1px)] after:bg-base-100/30 dark:after:bg-base-800/50 after:inset-[1px]`
                aria-label="play video"
                id="featurecard__play-button"
            >
                <!-- image bg glows -->
                <div
                    class="absolute right-0 top-0 -z-10 mx-auto aspect-square w-[40%] transform-gpu bg-primary-600/70 blur-3xl"
                >
                </div>

                <div
                    class="absolute bottom-0 left-0 -z-10 mx-auto aspect-square w-[40%] transform-gpu bg-primary-600/70 blur-3xl"
                >
                </div>

                <Image
                    src={image}
                    alt="logo"
                    loading="lazy"
                    width={1500}
                    class="relative z-10 rounded-2xl p-1 md:rounded-xl md:p-2"
                />

                <div
                    class="group absolute left-0 top-0 m-auto flex h-full w-full items-center justify-center"
                >
                    <div class="relative m-auto aspect-square h-[20%] max-h-20">
                        <!-- background glow of play button -->
                        <div
                            class="absolute z-10 h-full w-full rounded-full bg-primary-600/70 blur group-hover:animate-ping motion-safe:animate-ping md:animate-none"
                        >
                        </div>
                        <!-- play button -->
                        <div
                            class="group relative z-20 h-full w-full rounded-full border-2 border-primary-500 bg-base-800 p-1 transition group-hover:border-primary-500/70 sm:p-2"
                        >
                            <Icon
                                name="tabler:player-play"
                                class="m-auto aspect-square h-full w-full text-base-300"
                                aria-hidden="true"
                            />
                        </div>
                    </div>
                </div>
            </button>

            <!-- html video. Shown when play button is pressed -->
            <div
                id="featurecard__video-items"
                class="fixed inset-0 z-40 hidden h-screen w-screen"
            >
                <div
                    class="relative flex h-full w-full items-center justify-center"
                >
                    <!-- backdrop button to close video -->
                    <button
                        id="featurecard__backdrop-button"
                        class="absolute inset-0 z-30 h-full w-full bg-base-900 transition-all"
                    >
                    </button>

                    <!-- Video -->
                    <div
                        class="container relative m-auto h-fit w-fit max-w-[1000px] p-3 sm:p-6"
                    >
                        <video
                            id="featurecard__video"
                            class="relative z-30 w-full max-w-[1000px] rounded-2xl"
                            loop
                            controls
                            muted
                            playsinline
                            preload="metadata"
                        >
                            <source src={video} type="video/mp4" />
                        </video>

                        <!-- X button to close video -->
                        <button
                            id="featurecard__close-button"
                            aria-label="close video"
                            class="group absolute right-0 top-0 z-30 h-7 w-7 rounded-full border-2 border-base-300 transition-all hover:border-primary-400"
                        >
                            <Icon
                                name="tabler:x"
                                class="m-auto aspect-square h-full max-h-14 w-full text-base-300 transition group-hover:text-primary-400"
                                aria-hidden="true"
                            />
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function setupVideoPlayer() {
        const video = document.getElementById(
            "featurecard__video",
        ) as HTMLVideoElement;
        const playButton = document.getElementById(
            "featurecard__play-button",
        ) as HTMLButtonElement;
        const VideoItems = document.getElementById(
            "featurecard__video-items",
        ) as HTMLElement;
        const backdropButton = document.getElementById(
            "featurecard__backdrop-button",
        ) as HTMLButtonElement;
        const closeButton = document.getElementById(
            "featurecard__close-button",
        ) as HTMLButtonElement;

        // open video on play button press
        playButton?.addEventListener("click", () => {
            VideoItems?.classList.toggle("hidden");
            backdropButton?.classList.toggle("featurecard__backdrop-button--show");
            video?.play();
        });

        // close video on backdrop button press
        backdropButton?.addEventListener("click", () => {
            video?.pause();
            VideoItems?.classList.add("hidden");
            backdropButton?.classList.remove("featurecard__backdrop-button--show");
        });

        // or close video on close button press
        closeButton?.addEventListener("click", () => {
            video?.pause();
            VideoItems?.classList.add("hidden");
            backdropButton?.classList.remove("featurecard__backdrop-button--show");
        });
    }

    console.log("Setting up video")
    // runs on initial page load
    setupVideoPlayer();

    // runs on view transitions navigation
    document.addEventListener("astro:after-swap", setupVideoPlayer);
</script>